img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(88, 64, 1);
    color: white;
    border: 3px solid grey;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 5px;
}

.splash {
    background-image: url("./images/guns.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 1em;
}

h1 {
    text-shadow: 0.1px 3px grey;
}

.bg-text {
    background-color: rgb(88, 64, 1);
    color: white;
    padding: 10x;
    margin: 0.5%;
    border-radius: 3%;
    text-align: center;
    
}

.biggertext {
    font-size: 50px;
}

.btn {
    background-color: rgb(88, 64, 1);
    border-radius: 10%;
    background-image: linear-gradient(to bottom, rgb(88, 64, 1), #474747);
    border-width: 3px;
    border-style: dashed;
    width: 150px;
    height: 50px;
    font-size: 100%;
    margin: 15px;
  }

.splash {
    justify-content: center;
    align-items: center;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em
}
.wrapper {
    width: 720px;
    margin: 0 auto;
}
.galleryelse{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
  .column {
    background-color: #eee;
    padding: 10px;
  }
img{
    width: 100%;
}
    .gallery img:last-child {
    grid-column: 3;   
}

.card {
    border: 2px solid orange;
    border-radius:5px;
    background-color: purple;
    color: #fff;

}

.card h2 {
    background-color: orange;
    margin: 0;
    padding: 10px;
}

.card p {
    padding: 10px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.hamburger {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-content {
    display: none;
    position: absolute;
    left:0;
    z-index:1;
  }
  
  .hamburger:hover .hamburger-content {
    display: block;
    /* animation: popup .5s ease-in-out both; */
  }
  
  .hamburger span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: block;
    transform: rotate(90deg);
  }
  
  .hamburger:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }
  
  /*  @keyframes popup {
    from {opacity: 0;}
    to {opacity: 1;}
  }  */



@media (min-width: 600px) {
    .hamburger {
      display: none;
    }
}


@media (max-width: 600px) {
    .hamburger {
        display: block;
    }
}